
.icon-phone:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-calendar-1:before { content: '\e804'; } /* '' */
.icon-certificate-outline:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-plus-1:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-user-add-outline:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-minus-1:before { content: '\e80d'; } /* '' */
.icon-globe-1:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e80f'; } /* '' */
.icon-print:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-eye-off:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-wrench:before { content: '\e818'; } /* '' */
.icon-login:before { content: '\e819'; } /* '' */
.icon-logout:before { content: '\e81a'; } /* '' */
.icon-resize-full:before { content: '\e81b'; } /* '' */
.icon-resize-small:before { content: '\e81c'; } /* '' */
.icon-play:before { content: '\e81d'; } /* '' */
.icon-check:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-moon:before { content: '\e821'; } /* '' */
.icon-water:before { content: '\e822'; } /* '' */
.icon-users-outline:before { content: '\e823'; } /* '' */
.icon-plane:before { content: '\e824'; } /* '' */
.icon-temperature:before { content: '\e825'; } /* '' */
.icon-quote-left:before { content: '\e826'; } /* '' */
.icon-quote-right:before { content: '\e827'; } /* '' */
.icon-fire:before { content: '\e828'; } /* '' */
.icon-picture-1:before { content: '\e829'; } /* '' */
.icon-th:before { content: '\e82a'; } /* '' */
.icon-emo-happy:before { content: '\e82b'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-moon-1:before { content: '\f186'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
