// font color
$text-color-w: #FFFFFF; 
$text-color-b: #333333;
$text-color-bl:#666666;
$text-color-gray:#808080;
$text-color-gray-light: #c0c0c0;
$text-color-green: #6AB43E; 

// background
$bg-color-w: #FFFFFF; 
$bg-color-b: #333333;
$bg-color-gray:#666666;
$bg-color-green: #6AB43E; 



