@use "variable";

#headerWrap {
    display: flex;
    flex-direction: column;
}

#headerTopWrap {
    background: variable.$bg-color-b;

    border-top: 3px solid variable.$bg-color-green;
}

#headerTop {
    display: flex;
}

.logoWrap img {
    width: 190px;
    height: 37px;
}

.socialInfoWrap {
    flex-grow: 1;
    color: white;
    align-self: center;
    font-size: 13px;
    display: flex;
    grid-gap: 10px;

    a {
        padding: 12px 3px;
    }
}

.contactInfoWrap {
    flex-grow: 3;
    display: flex;
    color: white;
    justify-content: end;
    grid-gap: 5px;
}

.contactInfo {
    font-size: 14px;
    padding: 12px;
}

.contactInfo::before {
    color: variable.$text-color-green
}

.resForm {
    background-color: variable.$bg-color-green;
    padding-left: 25px;
    padding-right: 25px;
}

#headerBottom {
    display: flex;
}

.logoWrap {
    width: 100px;
    flex-grow: 1;
    height: 41px;
    position: relative;
    align-self: center;
}

/*		custom Layout: 1160px. */
@media only screen and (min-width: 991px) and (max-width: 1160px) {
    .socialInfoWrap{grid-gap: 5px;}
    
    }
    
/*		Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #headerTop {
        flex-direction: column;
    }

    .contactInfoWrap {
        justify-content: center;
        flex-direction: row;
    }

    .contactInfo {
        font-size: 12px;
    }
}

/*		Mobile Layout: 320px.   */
@media only screen and (max-width: 767px) {
    
    #headerTopWrap {
        display: none;
    }

    #headerBottom {
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }
}

/*		Wide Mobile Layout: 480px.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}